body {
    margin: 0;
}

* {
    user-select: none;
}

.btn-space {
    width: 321px !important;
}

.btn-tab {
    width: 95px !important;
}

.btn-caps-lock {
    width: 105px !important;
}

.btn-shift {
    width: 122px !important;
}

.btn-ctrl {
    width: 71px !important;
}

.btn-win {
    width: 70px !important;
}

.btn-alt {
    width: 70px !important;
}

.btn-options {
    width: 70px !important;
}

.btn-enter {
    width: 85px !important;
}

.btn-dash {
    width: 95px !important;
}

.btn-tilda {
    width: 80px !important;
}

.btn-backspace {
    width: 140px !important;
}

.btn-f1 {
    margin-left: 43px;
}

.btn-f5 {
    margin-left: 40px;
}

.btn-f9 {
    margin-left: 40px;
}

.btn-logo {
    width: 70px !important;
}

* {
    box-sizing: border-box;
}

.active {
    filter: invert(56%) sepia(82%) saturate(2477%) hue-rotate(62deg) brightness(109%) contrast(103%) !important;
}

.group-item-new {
    cursor: pointer;
}

.group-editable {
    padding: 0;

    border: 2px solid #4f4b4b;
}

.group-editable:focus {
    outline: none;
    background: none;

    border: 3px solid #4f4b4b !important;
}

.chrome-picker {
    background: #2b2b2b !important;
    width: 100% !important;
}

.group-color {
    width: 20px;
    height: 20px;

    border-radius: 5px;
}

.group-selected {
    border: 3px solid #546e47 !important;
}

#rc-editable-input-2 {
    background: #2b2b2b;
    color: white !important;
    box-shadow: none !important;
}